@using CHY_Project.Controllers

@{
    ViewBag.Title = "Song Search";
}

<h2>Song Search</h2>

@using (Html.BeginForm("SearchResults", "Songs", FormMethod.Get))
{
    <p class="form-group">
        Song Title @Html.TextBox("NameSearchString", null, new { @class = "form-control" }) <br />
        Artist @Html.TextBox("ArtistSearchString", null, new { @class = "form-control" }) <br />
        Album @Html.TextBox("AlbumSearchString", null, new { @class = "form-control" }) <br />

        <input type="submit" value="Search" class="btn btn-default" />
        @Html.ActionLink("Show All", "Index", null, new { @class = "btn btn-default" })
    </p>
}