@model CHY_Project.Models.Cart

<p>
    Cart Summary
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model.Products) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.ProductID)</td>

        <td>
        @Html.DisplayFor(modelItem => item.DiscountPrice)
        @Html.ActionLink("Details", "Details", new { id = item.ContentID }) |
        @Html.ActionLink("Remove from Cart", "RemoveFromCart", new { id = Html.DisplayFor(modelItem => item.ContentID) })</td>
        
    </tr>
}

</table>
