
@{
    ViewBag.Title = "PurchaseConfirmed";
}

<h2>Purchase Confirmed, @ViewBag.Name</h2>

<div class="alert-success">Thanks for your purchase! We've tied the confirmation email to an overexcited dog, it's on its way to you!</div>

