@using CHY_Project.Controllers
@model CHY_Project.Models.Artist

@{
    ViewBag.Title = "Artist Search";
}

<h2>Artist Search</h2>

@using (Html.BeginForm("SearchResults", "Artists", FormMethod.Get))
{
    <p class="form-group">
        Artist Name @Html.TextBox("NameSearchString", null, new { @class = "form-control" }) <br />

        <div class="form-control">
            @Html.LabelFor(model => model.Genres, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBox("SelectedGenres", (MultiSelectList)ViewBag.AllGenres, new { @class = "form-control" })
            </div>
        </div>

        <input type="submit" value="Search" class="btn btn-default" />
        @Html.ActionLink("Show All", "Index", null, new { @class = "btn btn-default" })
    </p>
}